<a href="https://colab.research.google.com/github/mllrosa/pandaas/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [154]:
# üìò Lista de 30 Exerc√≠cios de Pandas ‚Äî Dataset Empresa

# 1. Mostre as 10 primeiras linhas do dataset.
import pandas as pd
df = pd.read_csv('empresa.csv')
df.head(10)

   id      nome       setor  salario  tempo_empresa_anos          cidade
0   1    Carlos  Financeiro     3500                   1       S√£o Paulo
1   2       Ana          RH     4200                   3  Rio de Janeiro
2   3     Bruno          TI     5000                   5  Belo Horizonte
3   4     Maria   Marketing     3800                   2        Curitiba
4   5      Jo√£o      Vendas     4500                   4    Porto Alegre
5   6     Paula  Financeiro     3500                   1       S√£o Paulo
6   7   Ricardo          RH     4200                   3  Rio de Janeiro
7   8  Fernanda          TI     5000                   5  Belo Horizonte
8   9     Tiago   Marketing     3800                   2        Curitiba
9  10     Julia      Vendas     4500                   4    Porto Alegre

In [155]:
# 2. Exiba as 15 √∫ltimas linhas do dataset.
import pandas as pd
df = pd.read_csv('empresa.csv')
df.tail(15)

    id      nome       setor  salario  tempo_empresa_anos          cidade
35  36     Paula  Financeiro     3500                   1       S√£o Paulo
36  37   Ricardo          RH     4200                   3  Rio de Janeiro
37  38  Fernanda          TI     5000                   5  Belo Horizonte
38  39     Tiago   Marketing     3800                   2        Curitiba
39  40     Julia      Vendas     4500                   4    Porto Alegre
40  41    Carlos  Financeiro     3500                   1       S√£o Paulo
41  42       Ana          RH     4200                   3  Rio de Janeiro
42  43     Bruno          TI     5000                   5  Belo Horizonte
43  44     Maria   Marketing     3800                   2        Curitiba
44  45      Jo√£o      Vendas     4500                   4    Porto Alegre
45  46     Paula  Financeiro     3500                   1       S√£o Paulo
46  47   Ricardo          RH     4200                   3  Rio de Janeiro
47  48  Fernanda          TI     5000                   5  Belo Horizonte
48  49     Tiago   Marketing     3800                   2        Curitiba
49  50     Julia      Vendas     4500                   4    Porto Alegre

In [156]:
# 3. Mostre o nome das colunas da tabela.
import pandas as pd
df = pd.read_csv('empresa.csv')
df.columns

Index(['id', 'nome', 'setor', 'salario', 'tempo_empresa_anos', 'cidade'], dtype='object')

In [157]:
# 4. Exiba informa√ß√µes gerais do dataset (tipos de dados, n√£o nulos, etc.).
import pandas as pd
df = pd.read_csv('empresa.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  50 non-null     int64
 1   nome                50 non-null     object
 2   setor               50 non-null     object
 3   salario             50 non-null     int64
 4   tempo_empresa_anos  50 non-null     int64
 5   cidade              50 non-null     object
dtypes: int64(3), object(3)
memory usage: 2.5+ KB

In [158]:
# 5. Mostre estat√≠sticas descritivas das colunas num√©ricas.
import pandas as pd
df = pd.read_csv('empresa.csv')
df.describe()

             id      salario  tempo_empresa_anos
count  50.00000    50.000000           50.000000
mean   25.50000  4200.000000            3.000000
std    14.57738   530.690732            1.428571
min     1.00000  3500.000000            1.000000
25%    13.25000  3800.000000            2.000000
50%    25.50000  4200.000000            3.000000
75%    37.75000  4500.000000            4.000000
max    50.00000  5000.000000            5.000000

In [159]:
# 6. Filtre todas as linhas onde o nome √© **"Carlos"**.
import pandas as pd
df = pd.read_csv('empresa.csv')
df[df['nome'] == 'Carlos']

    id    nome       setor  salario  tempo_empresa_anos     cidade
0    1  Carlos  Financeiro     3500                   1  S√£o Paulo
10  11  Carlos  Financeiro     3500                   1  S√£o Paulo
20  21  Carlos  Financeiro     3500                   1  S√£o Paulo
30  31  Carlos  Financeiro     3500                   1  S√£o Paulo
40  41  Carlos  Financeiro     3500                   1  S√£o Paulo

In [160]:
# 7. Filtre as pessoas que trabalham no setor de **TI**.
import pandas as pd
df = pd.read_csv('empresa.csv')
df[df['setor'] == 'TI']

    id      nome setor  salario  tempo_empresa_anos          cidade
2    3     Bruno    TI     5000                   5  Belo Horizonte
7    8  Fernanda    TI     5000                   5  Belo Horizonte
12  13     Bruno    TI     5000                   5  Belo Horizonte
17  18  Fernanda    TI     5000                   5  Belo Horizonte
22  23     Bruno    TI     5000                   5  Belo Horizonte
27  28  Fernanda    TI     5000                   5  Belo Horizonte
32  33     Bruno    TI     5000                   5  Belo Horizonte
37  38  Fernanda    TI     5000                   5  Belo Horizonte
42  43     Bruno    TI     5000                   5  Belo Horizonte
47  48  Fernanda    TI     5000                   5  Belo Horizonte

In [161]:
# 8. Mostre todos os funcion√°rios com sal√°rio maior que 4000.
import pandas as pd
df = pd.read_csv('empresa.csv')
df[df['salario'] > 4000]

    id      nome   setor  salario  tempo_empresa_anos          cidade
1    2       Ana      RH     4200                   3  Rio de Janeiro
2    3     Bruno      TI     5000                   5  Belo Horizonte
4    5      Jo√£o  Vendas     4500                   4    Porto Alegre
6    7   Ricardo      RH     4200                   3  Rio de Janeiro
7    8  Fernanda      TI     5000                   5  Belo Horizonte
9   10     Julia  Vendas     4500                   4    Porto Alegre
11  12       Ana      RH     4200                   3  Rio de Janeiro
12  13     Bruno      TI     5000                   5  Belo Horizonte
14  15      Jo√£o  Vendas     4500                   4    Porto Alegre
16  17   Ricardo      RH     4200                   3  Rio de Janeiro
17  18  Fernanda      TI     5000                   5  Belo Horizonte
19  20     Julia  Vendas     4500                   4    Porto Alegre
21  22       Ana      RH     4200                   3  Rio de Janeiro
22  23     Bruno      TI     5000                   5  Belo Horizonte
24  25      Jo√£o  Vendas     4500                   4    Porto Alegre
26  27   Ricardo      RH     4200                   3  Rio de Janeiro
27  28  Fernanda      TI     5000                   5  Belo Horizonte
29  30     Julia  Vendas     4500                   4    Porto Alegre
31  32       Ana      RH     4200                   3  Rio de Janeiro
32  33     Bruno      TI     5000                   5  Belo Horizonte
34  35      Jo√£o  Vendas     4500                   4    Porto Alegre
36  37   Ricardo      RH     4200                   3  Rio de Janeiro
37  38  Fernanda      TI     5000                   5  Belo Horizonte
39  40     Julia  Vendas     4500                   4    Porto Alegre
41  42       Ana      RH     4200                   3  Rio de Janeiro
42  43     Bruno      TI     5000                   5  Belo Horizonte
44  45      Jo√£o  Vendas     4500                   4    Porto Alegre
46  47   Ricardo      RH     4200                   3  Rio de Janeiro
47  48  Fernanda      TI     5000                   5  Belo Horizonte
49  50     Julia  Vendas     4500                   4    Porto Alegre

In [162]:
# 9. Mostre apenas as colunas **nome** e **salario**.
import pandas as pd
df = pd.read_csv('empresa.csv')
df[['nome','salario']]

        nome  salario
0     Carlos     3500
1        Ana     4200
2      Bruno     5000
3      Maria     3800
4       Jo√£o     4500
5      Paula     3500
6    Ricardo     4200
7   Fernanda     5000
8      Tiago     3800
9      Julia     4500
10    Carlos     3500
11       Ana     4200
12     Bruno     5000
13     Maria     3800
14      Jo√£o     4500
15     Paula     3500
16   Ricardo     4200
17  Fernanda     5000
18     Tiago     3800
19     Julia     4500
20    Carlos     3500
21       Ana     4200
22     Bruno     5000
23     Maria     3800
24      Jo√£o     4500
25     Paula     3500
26   Ricardo     4200
27  Fernanda     5000
28     Tiago     3800
29     Julia     4500
30    Carlos     3500
31       Ana     4200
32     Bruno     5000
33     Maria     3800
34      Jo√£o     4500
35     Paula     3500
36   Ricardo     4200
37  Fernanda     5000
38     Tiago     3800
39     Julia     4500
40    Carlos     3500
41       Ana     4200
42     Bruno     5000
43     Maria     3800
44      Jo√£o     4500
45     Paula     3500
46   Ricardo     4200
47  Fernanda     5000
48     Tiago     3800
49     Julia     4500

In [163]:
# 10. Ordene o dataset pelo sal√°rio em ordem crescente.
import pandas as pd
df = pd.read_csv('empresa.csv')
df.sort_values('salario')

    id      nome       setor  salario  tempo_empresa_anos          cidade
0    1    Carlos  Financeiro     3500                   1       S√£o Paulo
5    6     Paula  Financeiro     3500                   1       S√£o Paulo
15  16     Paula  Financeiro     3500                   1       S√£o Paulo
10  11    Carlos  Financeiro     3500                   1       S√£o Paulo
25  26     Paula  Financeiro     3500                   1       S√£o Paulo
30  31    Carlos  Financeiro     3500                   1       S√£o Paulo
20  21    Carlos  Financeiro     3500                   1       S√£o Paulo
35  36     Paula  Financeiro     3500                   1       S√£o Paulo
40  41    Carlos  Financeiro     3500                   1       S√£o Paulo
45  46     Paula  Financeiro     3500                   1       S√£o Paulo
18  19     Tiago   Marketing     3800                   2        Curitiba
23  24     Maria   Marketing     3800                   2        Curitiba
3    4     Maria   Marketing     3800                   2        Curitiba
13  14     Maria   Marketing     3800                   2        Curitiba
28  29     Tiago   Marketing     3800                   2        Curitiba
8    9     Tiago   Marketing     3800                   2        Curitiba
33  34     Maria   Marketing     3800                   2        Curitiba
48  49     Tiago   Marketing     3800                   2        Curitiba
43  44     Maria   Marketing     3800                   2        Curitiba
38  39     Tiago   Marketing     3800                   2        Curitiba
31  32       Ana          RH     4200                   3  Rio de Janeiro
6    7   Ricardo          RH     4200                   3  Rio de Janeiro
36  37   Ricardo          RH     4200                   3  Rio de Janeiro
46  47   Ricardo          RH     4200                   3  Rio de Janeiro
41  42       Ana          RH     4200                   3  Rio de Janeiro
26  27   Ricardo          RH     4200                   3  Rio de Janeiro
21  22       Ana          RH     4200                   3  Rio de Janeiro
16  17   Ricardo          RH     4200                   3  Rio de Janeiro
11  12       Ana          RH     4200                   3  Rio de Janeiro
1    2       Ana          RH     4200                   3  Rio de Janeiro
9   10     Julia      Vendas     4500                   4    Porto Alegre
4    5      Jo√£o      Vendas     4500                   4    Porto Alegre
14  15      Jo√£o      Vendas     4500                   4    Porto Alegre
19  20     Julia      Vendas     4500                   4    Porto Alegre
34  35      Jo√£o      Vendas     4500                   4    Porto Alegre
44  45      Jo√£o      Vendas     4500                   4    Porto Alegre
49  50     Julia      Vendas     4500                   4    Porto Alegre
39  40     Julia      Vendas     4500                   4    Porto Alegre
24  25      Jo√£o      Vendas     4500                   4    Porto Alegre
29  30     Julia      Vendas     4500                   4    Porto Alegre
27  28  Fernanda          TI     5000                   5  Belo Horizonte
22  23     Bruno          TI     5000                   5  Belo Horizonte
17  18  Fernanda          TI     5000                   5  Belo Horizonte
12  13     Bruno          TI     5000                   5  Belo Horizonte
7    8  Fernanda          TI     5000                   5  Belo Horizonte
2    3     Bruno          TI     5000                   5  Belo Horizonte
37  38  Fernanda          TI     5000                   5  Belo Horizonte
32  33     Bruno          TI     5000                   5  Belo Horizonte
47  48  Fernanda          TI     5000                   5  Belo Horizonte
42  43     Bruno          TI     5000                   5  Belo Horizonte

In [164]:
# 11. Ordene o dataset pelo sal√°rio em ordem decrescente.
import pandas as pd
df = pd.read_csv('empresa.csv')
df.sort_values('salario',ascending=False)

    id      nome       setor  salario  tempo_empresa_anos          cidade
7    8  Fernanda          TI     5000                   5  Belo Horizonte
2    3     Bruno          TI     5000                   5  Belo Horizonte
17  18  Fernanda          TI     5000                   5  Belo Horizonte
12  13     Bruno          TI     5000                   5  Belo Horizonte
47  48  Fernanda          TI     5000                   5  Belo Horizonte
42  43     Bruno          TI     5000                   5  Belo Horizonte
37  38  Fernanda          TI     5000                   5  Belo Horizonte
32  33     Bruno          TI     5000                   5  Belo Horizonte
27  28  Fernanda          TI     5000                   5  Belo Horizonte
22  23     Bruno          TI     5000                   5  Belo Horizonte
19  20     Julia      Vendas     4500                   4    Porto Alegre
24  25      Jo√£o      Vendas     4500                   4    Porto Alegre
9   10     Julia      Vendas     4500                   4    Porto Alegre
14  15      Jo√£o      Vendas     4500                   4    Porto Alegre
4    5      Jo√£o      Vendas     4500                   4    Porto Alegre
49  50     Julia      Vendas     4500                   4    Porto Alegre
39  40     Julia      Vendas     4500                   4    Porto Alegre
34  35      Jo√£o      Vendas     4500                   4    Porto Alegre
29  30     Julia      Vendas     4500                   4    Porto Alegre
44  45      Jo√£o      Vendas     4500                   4    Porto Alegre
36  37   Ricardo          RH     4200                   3  Rio de Janeiro
41  42       Ana          RH     4200                   3  Rio de Janeiro
46  47   Ricardo          RH     4200                   3  Rio de Janeiro
31  32       Ana          RH     4200                   3  Rio de Janeiro
26  27   Ricardo          RH     4200                   3  Rio de Janeiro
11  12       Ana          RH     4200                   3  Rio de Janeiro
6    7   Ricardo          RH     4200                   3  Rio de Janeiro
16  17   Ricardo          RH     4200                   3  Rio de Janeiro
1    2       Ana          RH     4200                   3  Rio de Janeiro
21  22       Ana          RH     4200                   3  Rio de Janeiro
8    9     Tiago   Marketing     3800                   2        Curitiba
3    4     Maria   Marketing     3800                   2        Curitiba
13  14     Maria   Marketing     3800                   2        Curitiba
38  39     Tiago   Marketing     3800                   2        Curitiba
48  49     Tiago   Marketing     3800                   2        Curitiba
43  44     Maria   Marketing     3800                   2        Curitiba
28  29     Tiago   Marketing     3800                   2        Curitiba
33  34     Maria   Marketing     3800                   2        Curitiba
23  24     Maria   Marketing     3800                   2        Curitiba
18  19     Tiago   Marketing     3800                   2        Curitiba
5    6     Paula  Financeiro     3500                   1       S√£o Paulo
0    1    Carlos  Financeiro     3500                   1       S√£o Paulo
15  16     Paula  Financeiro     3500                   1       S√£o Paulo
10  11    Carlos  Financeiro     3500                   1       S√£o Paulo
20  21    Carlos  Financeiro     3500                   1       S√£o Paulo
25  26     Paula  Financeiro     3500                   1       S√£o Paulo
30  31    Carlos  Financeiro     3500                   1       S√£o Paulo
35  36     Paula  Financeiro     3500                   1       S√£o Paulo
40  41    Carlos  Financeiro     3500                   1       S√£o Paulo
45  46     Paula  Financeiro     3500                   1       S√£o Paulo

In [165]:
# 12. Conte quantos funcion√°rios existem por setor.
import pandas as pd
df = pd.read_csv('empresa.csv')
setores = df.groupby('setor').size()
setores

setor
Financeiro    10
Marketing     10
RH            10
TI            10
Vendas        10
dtype: int64

In [166]:
# 13. Calcule a m√©dia salarial de todos os funcion√°rios.
import pandas as pd
df = pd.read_csv('empresa.csv')
df = df['salario'].mean()
df

np.float64(4200.0)

In [167]:
# 14. Encontre o maior sal√°rio registrado.
import pandas as pd
df = pd.read_csv('empresa.csv')
df['salario'].max()

5000

In [168]:
# 15. Encontre o menor sal√°rio registrado.
import pandas as pd
df = pd.read_csv('empresa.csv')
df['salario'].min()

3500

In [169]:
# 16. Filtre quem tem mais de 3 anos de empresa.
import pandas as pd
df = pd.read_csv('empresa.csv')
df[df['tempo_empresa_anos'] > 3]

    id      nome   setor  salario  tempo_empresa_anos          cidade
2    3     Bruno      TI     5000                   5  Belo Horizonte
4    5      Jo√£o  Vendas     4500                   4    Porto Alegre
7    8  Fernanda      TI     5000                   5  Belo Horizonte
9   10     Julia  Vendas     4500                   4    Porto Alegre
12  13     Bruno      TI     5000                   5  Belo Horizonte
14  15      Jo√£o  Vendas     4500                   4    Porto Alegre
17  18  Fernanda      TI     5000                   5  Belo Horizonte
19  20     Julia  Vendas     4500                   4    Porto Alegre
22  23     Bruno      TI     5000                   5  Belo Horizonte
24  25      Jo√£o  Vendas     4500                   4    Porto Alegre
27  28  Fernanda      TI     5000                   5  Belo Horizonte
29  30     Julia  Vendas     4500                   4    Porto Alegre
32  33     Bruno      TI     5000                   5  Belo Horizonte
34  35      Jo√£o  Vendas     4500                   4    Porto Alegre
37  38  Fernanda      TI     5000                   5  Belo Horizonte
39  40     Julia  Vendas     4500                   4    Porto Alegre
42  43     Bruno      TI     5000                   5  Belo Horizonte
44  45      Jo√£o  Vendas     4500                   4    Porto Alegre
47  48  Fernanda      TI     5000                   5  Belo Horizonte
49  50     Julia  Vendas     4500                   4    Porto Alegre

In [170]:
# 17. Mostre todos os funcion√°rios da cidade de **S√£o Paulo**.
import pandas as pd
df = pd.read_csv('empresa.csv')
df[df['cidade'] == 'S√£o Paulo']

    id    nome       setor  salario  tempo_empresa_anos     cidade
0    1  Carlos  Financeiro     3500                   1  S√£o Paulo
5    6   Paula  Financeiro     3500                   1  S√£o Paulo
10  11  Carlos  Financeiro     3500                   1  S√£o Paulo
15  16   Paula  Financeiro     3500                   1  S√£o Paulo
20  21  Carlos  Financeiro     3500                   1  S√£o Paulo
25  26   Paula  Financeiro     3500                   1  S√£o Paulo
30  31  Carlos  Financeiro     3500                   1  S√£o Paulo
35  36   Paula  Financeiro     3500                   1  S√£o Paulo
40  41  Carlos  Financeiro     3500                   1  S√£o Paulo
45  46   Paula  Financeiro     3500                   1  S√£o Paulo

In [171]:
# 18. Agrupe por setor e mostre a m√©dia dos sal√°rios.
import pandas as pd
df = pd.read_csv('empresa.csv')
df = df.groupby('setor')['salario'].mean()
df

setor
Financeiro    3500.0
Marketing     3800.0
RH            4200.0
TI            5000.0
Vendas        4500.0
Name: salario, dtype: float64

In [172]:
# 19. Mostre os funcion√°rios cujo nome come√ßa com a letra **"J"**.
import pandas as pd
df = pd.read_csv('empresa.csv')
j= df[df['nome'].str.startswith('J')]
j

    id   nome   setor  salario  tempo_empresa_anos        cidade
4    5   Jo√£o  Vendas     4500                   4  Porto Alegre
9   10  Julia  Vendas     4500                   4  Porto Alegre
14  15   Jo√£o  Vendas     4500                   4  Porto Alegre
19  20  Julia  Vendas     4500                   4  Porto Alegre
24  25   Jo√£o  Vendas     4500                   4  Porto Alegre
29  30  Julia  Vendas     4500                   4  Porto Alegre
34  35   Jo√£o  Vendas     4500                   4  Porto Alegre
39  40  Julia  Vendas     4500                   4  Porto Alegre
44  45   Jo√£o  Vendas     4500                   4  Porto Alegre
49  50  Julia  Vendas     4500                   4  Porto Alegre

In [173]:
# 20. Conte quantas vezes cada cidade aparece no dataset.
import pandas as pd
df = pd.read_csv('empresa.csv')
contagem_setores = df.groupby('cidade').size()
contagem_setores

cidade
Belo Horizonte    10
Curitiba          10
Porto Alegre      10
Rio de Janeiro    10
S√£o Paulo         10
dtype: int64

In [174]:

# 21. Adicione uma nova coluna chamada **"bonus"** com 10% do sal√°rio.
import pandas as pd
df['bonus'] = df['salario'] * 0.10
df

,id,nome,setor,salario,tempo_empresa_anos,cidade,bonus
0,1,Carlos,Financeiro,3500,1,S√£o Paulo,350.0
1,2,Ana,RH,4200,3,Rio de Janeiro,420.0
2,3,Bruno,TI,5000,5,Belo Horizonte,500.0
3,4,Maria,Marketing,3800,2,Curitiba,380.0
4,5,Jo√£o,Vendas,4500,4,Porto Alegre,450.0
5,6,Paula,Financeiro,3500,1,S√£o Paulo,350.0
6,7,Ricardo,RH,4200,3,Rio de Janeiro,420.0
7,8,Fernanda,TI,5000,5,Belo Horizonte,500.0
8,9,Tiago,Marketing,3800,2,Curitiba,380.0
9,10,Julia,Vendas,4500,4,Porto Alegre,450.0
10,11,Carlos,Financeiro,3500,1,S√£o Paulo,350.0
11,12,Ana,RH,4200,3,Rio de Janeiro,420.0
12,13,Bruno,TI,5000,5,Belo Horizonte,500.0
13,14,Maria,Marketing,3800,2,Curitiba,380.0
14,15,Jo√£o,Vendas,4500,4,Porto Alegre,450.0
15,16,Paula,Financeiro,3500,1,S√£o Paulo,350.0
16,17,Ricardo,RH,4200,3,Rio de Janeiro,420.0
17,18,Fernanda,TI,5000,5,Belo Horizonte,500.0
18,19,Tiago,Marketing,3800,2,Curitiba,380.0
19,20,Julia,Vendas,4500,4,Porto Alegre,450.0
20,21,Carlos,Financeiro,3500,1,S√£o Paulo,350.0
21,22,Ana,RH,4200,3,Rio de Janeiro,420.0
22,23,Bruno,TI,5000,5,Belo Horizonte,500.0
23,24,Maria,Marketing,3800,2,Curitiba,380.0
24,25,Jo√£o,Vendas,4500,4,Porto Alegre,450.0
25,26,Paula,Financeiro,3500,1,S√£o Paulo,350.0
26,27,Ricardo,RH,4200,3,Rio de Janeiro,420.0
27,28,Fernanda,TI,5000,5,Belo Horizonte,500.0
28,29,Tiago,Marketing,3800,2,Curitiba,380.0
29,30,Julia,Vendas,4500,4,Porto Alegre,450.0
30,31,Carlos,Financeiro,3500,1,S√£o Paulo,350.0
31,32,Ana,RH,4200,3,Rio de Janeiro,420.0
32,33,Bruno,TI,5000,5,Belo Horizonte,500.0
33,34,Maria,Marketing,3800,2,Curitiba,380.0
34,35,Jo√£o,Vendas,4500,4,Porto Alegre,450.0
35,36,Paula,Financeiro,3500,1,S√£o Paulo,350.0
36,37,Ricardo,RH,4200,3,Rio de Janeiro,420.0
37,38,Fernanda,TI,5000,5,Belo Horizonte,500.0
38,39,Tiago,Marketing,3800,2,Curitiba,380.0
39,40,Julia,Vendas,4500,4,Porto Alegre,450.0
40,41,Carlos,Financeiro,3500,1,S√£o Paulo,350.0
41,42,Ana,RH,4200,3,Rio de Janeiro,420.0
42,43,Bruno,TI,5000,5,Belo Horizonte,500.0
43,44,Maria,Marketing,3800,2,Curitiba,380.0
44,45,Jo√£o,Vendas,4500,4,Porto Alegre,450.0
45,46,Paula,Financeiro,3500,1,S√£o Paulo,350.0
46,47,Ricardo,RH,4200,3,Rio de Janeiro,420.0
47,48,Fernanda,TI,5000,5,Belo Horizonte,500.0
48,49,Tiago,Marketing,3800,2,Curitiba,380.0
49,50,Julia,Vendas,4500,4,Porto Alegre,450.0

In [175]:
# 22. Mostre apenas funcion√°rios cujo sal√°rio seja entre 3500 e 4500.
import pandas as pd
df = pd.read_csv('empresa.csv')
df = df[(df['salario'] >= 3500) & (df['salario'] <= 4500)]
df

    id     nome       setor  salario  tempo_empresa_anos          cidade
0    1   Carlos  Financeiro     3500                   1       S√£o Paulo
1    2      Ana          RH     4200                   3  Rio de Janeiro
3    4    Maria   Marketing     3800                   2        Curitiba
4    5     Jo√£o      Vendas     4500                   4    Porto Alegre
5    6    Paula  Financeiro     3500                   1       S√£o Paulo
6    7  Ricardo          RH     4200                   3  Rio de Janeiro
8    9    Tiago   Marketing     3800                   2        Curitiba
9   10    Julia      Vendas     4500                   4    Porto Alegre
10  11   Carlos  Financeiro     3500                   1       S√£o Paulo
11  12      Ana          RH     4200                   3  Rio de Janeiro
13  14    Maria   Marketing     3800                   2        Curitiba
14  15     Jo√£o      Vendas     4500                   4    Porto Alegre
15  16    Paula  Financeiro     3500                   1       S√£o Paulo
16  17  Ricardo          RH     4200                   3  Rio de Janeiro
18  19    Tiago   Marketing     3800                   2        Curitiba
19  20    Julia      Vendas     4500                   4    Porto Alegre
20  21   Carlos  Financeiro     3500                   1       S√£o Paulo
21  22      Ana          RH     4200                   3  Rio de Janeiro
23  24    Maria   Marketing     3800                   2        Curitiba
24  25     Jo√£o      Vendas     4500                   4    Porto Alegre
25  26    Paula  Financeiro     3500                   1       S√£o Paulo
26  27  Ricardo          RH     4200                   3  Rio de Janeiro
28  29    Tiago   Marketing     3800                   2        Curitiba
29  30    Julia      Vendas     4500                   4    Porto Alegre
30  31   Carlos  Financeiro     3500                   1       S√£o Paulo
31  32      Ana          RH     4200                   3  Rio de Janeiro
33  34    Maria   Marketing     3800                   2        Curitiba
34  35     Jo√£o      Vendas     4500                   4    Porto Alegre
35  36    Paula  Financeiro     3500                   1       S√£o Paulo
36  37  Ricardo          RH     4200                   3  Rio de Janeiro
38  39    Tiago   Marketing     3800                   2        Curitiba
39  40    Julia      Vendas     4500                   4    Porto Alegre
40  41   Carlos  Financeiro     3500                   1       S√£o Paulo
41  42      Ana          RH     4200                   3  Rio de Janeiro
43  44    Maria   Marketing     3800                   2        Curitiba
44  45     Jo√£o      Vendas     4500                   4    Porto Alegre
45  46    Paula  Financeiro     3500                   1       S√£o Paulo
46  47  Ricardo          RH     4200                   3  Rio de Janeiro
48  49    Tiago   Marketing     3800                   2        Curitiba
49  50    Julia      Vendas     4500                   4    Porto Alegre

In [176]:
# 23. Remova a coluna **cidade** do dataframe.
import pandas as pd
df = pd.read_csv('empresa.csv')
df = df.drop(columns=['cidade'])
df

    id      nome       setor  salario  tempo_empresa_anos
0    1    Carlos  Financeiro     3500                   1
1    2       Ana          RH     4200                   3
2    3     Bruno          TI     5000                   5
3    4     Maria   Marketing     3800                   2
4    5      Jo√£o      Vendas     4500                   4
5    6     Paula  Financeiro     3500                   1
6    7   Ricardo          RH     4200                   3
7    8  Fernanda          TI     5000                   5
8    9     Tiago   Marketing     3800                   2
9   10     Julia      Vendas     4500                   4
10  11    Carlos  Financeiro     3500                   1
11  12       Ana          RH     4200                   3
12  13     Bruno          TI     5000                   5
13  14     Maria   Marketing     3800                   2
14  15      Jo√£o      Vendas     4500                   4
15  16     Paula  Financeiro     3500                   1
16  17   Ricardo          RH     4200                   3
17  18  Fernanda          TI     5000                   5
18  19     Tiago   Marketing     3800                   2
19  20     Julia      Vendas     4500                   4
20  21    Carlos  Financeiro     3500                   1
21  22       Ana          RH     4200                   3
22  23     Bruno          TI     5000                   5
23  24     Maria   Marketing     3800                   2
24  25      Jo√£o      Vendas     4500                   4
25  26     Paula  Financeiro     3500                   1
26  27   Ricardo          RH     4200                   3
27  28  Fernanda          TI     5000                   5
28  29     Tiago   Marketing     3800                   2
29  30     Julia      Vendas     4500                   4
30  31    Carlos  Financeiro     3500                   1
31  32       Ana          RH     4200                   3
32  33     Bruno          TI     5000                   5
33  34     Maria   Marketing     3800                   2
34  35      Jo√£o      Vendas     4500                   4
35  36     Paula  Financeiro     3500                   1
36  37   Ricardo          RH     4200                   3
37  38  Fernanda          TI     5000                   5
38  39     Tiago   Marketing     3800                   2
39  40     Julia      Vendas     4500                   4
40  41    Carlos  Financeiro     3500                   1
41  42       Ana          RH     4200                   3
42  43     Bruno          TI     5000                   5
43  44     Maria   Marketing     3800                   2
44  45      Jo√£o      Vendas     4500                   4
45  46     Paula  Financeiro     3500                   1
46  47   Ricardo          RH     4200                   3
47  48  Fernanda          TI     5000                   5
48  49     Tiago   Marketing     3800                   2
49  50     Julia      Vendas     4500                   4

In [177]:
# 24. Verifique se existe algum valor nulo no dataset.
import pandas as pd
df = pd.read_csv('empresa.csv')
df.isnull()

       id   nome  setor  salario  tempo_empresa_anos  cidade
0   False  False  False    False               False   False
1   False  False  False    False               False   False
2   False  False  False    False               False   False
3   False  False  False    False               False   False
4   False  False  False    False               False   False
5   False  False  False    False               False   False
6   False  False  False    False               False   False
7   False  False  False    False               False   False
8   False  False  False    False               False   False
9   False  False  False    False               False   False
10  False  False  False    False               False   False
11  False  False  False    False               False   False
12  False  False  False    False               False   False
13  False  False  False    False               False   False
14  False  False  False    False               False   False
15  False  False  False    False               False   False
16  False  False  False    False               False   False
17  False  False  False    False               False   False
18  False  False  False    False               False   False
19  False  False  False    False               False   False
20  False  False  False    False               False   False
21  False  False  False    False               False   False
22  False  False  False    False               False   False
23  False  False  False    False               False   False
24  False  False  False    False               False   False
25  False  False  False    False               False   False
26  False  False  False    False               False   False
27  False  False  False    False               False   False
28  False  False  False    False               False   False
29  False  False  False    False               False   False
30  False  False  False    False               False   False
31  False  False  False    False               False   False
32  False  False  False    False               False   False
33  False  False  False    False               False   False
34  False  False  False    False               False   False
35  False  False  False    False               False   False
36  False  False  False    False               False   False
37  False  False  False    False               False   False
38  False  False  False    False               False   False
39  False  False  False    False               False   False
40  False  False  False    False               False   False
41  False  False  False    False               False   False
42  False  False  False    False               False   False
43  False  False  False    False               False   False
44  False  False  False    False               False   False
45  False  False  False    False               False   False
46  False  False  False    False               False   False
47  False  False  False    False               False   False
48  False  False  False    False               False   False
49  False  False  False    False               False   False

In [178]:
# 25. Mostre os funcion√°rios com sal√°rio igual a 5000.
import pandas as pd
df = pd.read_csv('empresa.csv')
df[df['salario'] == 5000]

    id      nome setor  salario  tempo_empresa_anos          cidade
2    3     Bruno    TI     5000                   5  Belo Horizonte
7    8  Fernanda    TI     5000                   5  Belo Horizonte
12  13     Bruno    TI     5000                   5  Belo Horizonte
17  18  Fernanda    TI     5000                   5  Belo Horizonte
22  23     Bruno    TI     5000                   5  Belo Horizonte
27  28  Fernanda    TI     5000                   5  Belo Horizonte
32  33     Bruno    TI     5000                   5  Belo Horizonte
37  38  Fernanda    TI     5000                   5  Belo Horizonte
42  43     Bruno    TI     5000                   5  Belo Horizonte
47  48  Fernanda    TI     5000                   5  Belo Horizonte

In [179]:
# 26. Crie um dataframe somente com trabalhadores do setor **Marketing**.
import pandas as pd
df = pd.read_csv('empresa.csv')
df[df['setor'] == 'Marketing']

    id   nome      setor  salario  tempo_empresa_anos    cidade
3    4  Maria  Marketing     3800                   2  Curitiba
8    9  Tiago  Marketing     3800                   2  Curitiba
13  14  Maria  Marketing     3800                   2  Curitiba
18  19  Tiago  Marketing     3800                   2  Curitiba
23  24  Maria  Marketing     3800                   2  Curitiba
28  29  Tiago  Marketing     3800                   2  Curitiba
33  34  Maria  Marketing     3800                   2  Curitiba
38  39  Tiago  Marketing     3800                   2  Curitiba
43  44  Maria  Marketing     3800                   2  Curitiba
48  49  Tiago  Marketing     3800                   2  Curitiba

In [180]:
# 27. Renomeie a coluna **tempo_empresa_anos** para **anos_empresa**.
import pandas as pd
df = pd.read_csv('empresa.csv')
df = df.rename(columns={'tempo_empresa_anos': 'anos_empresa'})
df

    id      nome       setor  salario  anos_empresa          cidade
0    1    Carlos  Financeiro     3500             1       S√£o Paulo
1    2       Ana          RH     4200             3  Rio de Janeiro
2    3     Bruno          TI     5000             5  Belo Horizonte
3    4     Maria   Marketing     3800             2        Curitiba
4    5      Jo√£o      Vendas     4500             4    Porto Alegre
5    6     Paula  Financeiro     3500             1       S√£o Paulo
6    7   Ricardo          RH     4200             3  Rio de Janeiro
7    8  Fernanda          TI     5000             5  Belo Horizonte
8    9     Tiago   Marketing     3800             2        Curitiba
9   10     Julia      Vendas     4500             4    Porto Alegre
10  11    Carlos  Financeiro     3500             1       S√£o Paulo
11  12       Ana          RH     4200             3  Rio de Janeiro
12  13     Bruno          TI     5000             5  Belo Horizonte
13  14     Maria   Marketing     3800             2        Curitiba
14  15      Jo√£o      Vendas     4500             4    Porto Alegre
15  16     Paula  Financeiro     3500             1       S√£o Paulo
16  17   Ricardo          RH     4200             3  Rio de Janeiro
17  18  Fernanda          TI     5000             5  Belo Horizonte
18  19     Tiago   Marketing     3800             2        Curitiba
19  20     Julia      Vendas     4500             4    Porto Alegre
20  21    Carlos  Financeiro     3500             1       S√£o Paulo
21  22       Ana          RH     4200             3  Rio de Janeiro
22  23     Bruno          TI     5000             5  Belo Horizonte
23  24     Maria   Marketing     3800             2        Curitiba
24  25      Jo√£o      Vendas     4500             4    Porto Alegre
25  26     Paula  Financeiro     3500             1       S√£o Paulo
26  27   Ricardo          RH     4200             3  Rio de Janeiro
27  28  Fernanda          TI     5000             5  Belo Horizonte
28  29     Tiago   Marketing     3800             2        Curitiba
29  30     Julia      Vendas     4500             4    Porto Alegre
30  31    Carlos  Financeiro     3500             1       S√£o Paulo
31  32       Ana          RH     4200             3  Rio de Janeiro
32  33     Bruno          TI     5000             5  Belo Horizonte
33  34     Maria   Marketing     3800             2        Curitiba
34  35      Jo√£o      Vendas     4500             4    Porto Alegre
35  36     Paula  Financeiro     3500             1       S√£o Paulo
36  37   Ricardo          RH     4200             3  Rio de Janeiro
37  38  Fernanda          TI     5000             5  Belo Horizonte
38  39     Tiago   Marketing     3800             2        Curitiba
39  40     Julia      Vendas     4500             4    Porto Alegre
40  41    Carlos  Financeiro     3500             1       S√£o Paulo
41  42       Ana          RH     4200             3  Rio de Janeiro
42  43     Bruno          TI     5000             5  Belo Horizonte
43  44     Maria   Marketing     3800             2        Curitiba
44  45      Jo√£o      Vendas     4500             4    Porto Alegre
45  46     Paula  Financeiro     3500             1       S√£o Paulo
46  47   Ricardo          RH     4200             3  Rio de Janeiro
47  48  Fernanda          TI     5000             5  Belo Horizonte
48  49     Tiago   Marketing     3800             2        Curitiba
49  50     Julia      Vendas     4500             4    Porto Alegre

In [181]:
# 28. Mostre o sal√°rio m√©dio agrupado por cidade.
import pandas as pd
df = pd.read_csv('empresa.csv')
df = df.groupby('cidade')['salario'].mean()
df

cidade
Belo Horizonte    5000.0
Curitiba          3800.0
Porto Alegre      4500.0
Rio de Janeiro    4200.0
S√£o Paulo         3500.0
Name: salario, dtype: float64

In [182]:
# 29. Selecione aleatoriamente 5 linhas do dataset.
import pandas as pd
df = pd.read_csv('empresa.csv')
df = df.sample(5)
df

    id     nome       setor  salario  tempo_empresa_anos          cidade
32  33    Bruno          TI     5000                   5  Belo Horizonte
12  13    Bruno          TI     5000                   5  Belo Horizonte
16  17  Ricardo          RH     4200                   3  Rio de Janeiro
45  46    Paula  Financeiro     3500                   1       S√£o Paulo
31  32      Ana          RH     4200                   3  Rio de Janeiro

In [183]:
# 30. Crie um filtro para mostrar somente funcion√°rios que n√£o s√£o do setor de RH.
import pandas as pd
df = pd.read_csv('empresa.csv')
df[df['setor'] != 'RH']

    id      nome       setor  salario  tempo_empresa_anos          cidade
0    1    Carlos  Financeiro     3500                   1       S√£o Paulo
2    3     Bruno          TI     5000                   5  Belo Horizonte
3    4     Maria   Marketing     3800                   2        Curitiba
4    5      Jo√£o      Vendas     4500                   4    Porto Alegre
5    6     Paula  Financeiro     3500                   1       S√£o Paulo
7    8  Fernanda          TI     5000                   5  Belo Horizonte
8    9     Tiago   Marketing     3800                   2        Curitiba
9   10     Julia      Vendas     4500                   4    Porto Alegre
10  11    Carlos  Financeiro     3500                   1       S√£o Paulo
12  13     Bruno          TI     5000                   5  Belo Horizonte
13  14     Maria   Marketing     3800                   2        Curitiba
14  15      Jo√£o      Vendas     4500                   4    Porto Alegre
15  16     Paula  Financeiro     3500                   1       S√£o Paulo
17  18  Fernanda          TI     5000                   5  Belo Horizonte
18  19     Tiago   Marketing     3800                   2        Curitiba
19  20     Julia      Vendas     4500                   4    Porto Alegre
20  21    Carlos  Financeiro     3500                   1       S√£o Paulo
22  23     Bruno          TI     5000                   5  Belo Horizonte
23  24     Maria   Marketing     3800                   2        Curitiba
24  25      Jo√£o      Vendas     4500                   4    Porto Alegre
25  26     Paula  Financeiro     3500                   1       S√£o Paulo
27  28  Fernanda          TI     5000                   5  Belo Horizonte
28  29     Tiago   Marketing     3800                   2        Curitiba
29  30     Julia      Vendas     4500                   4    Porto Alegre
30  31    Carlos  Financeiro     3500                   1       S√£o Paulo
32  33     Bruno          TI     5000                   5  Belo Horizonte
33  34     Maria   Marketing     3800                   2        Curitiba
34  35      Jo√£o      Vendas     4500                   4    Porto Alegre
35  36     Paula  Financeiro     3500                   1       S√£o Paulo
37  38  Fernanda          TI     5000                   5  Belo Horizonte
38  39     Tiago   Marketing     3800                   2        Curitiba
39  40     Julia      Vendas     4500                   4    Porto Alegre
40  41    Carlos  Financeiro     3500                   1       S√£o Paulo
42  43     Bruno          TI     5000                   5  Belo Horizonte
43  44     Maria   Marketing     3800                   2        Curitiba
44  45      Jo√£o      Vendas     4500                   4    Porto Alegre
45  46     Paula  Financeiro     3500                   1       S√£o Paulo
47  48  Fernanda          TI     5000                   5  Belo Horizonte
48  49     Tiago   Marketing     3800                   2        Curitiba
49  50     Julia      Vendas     4500                   4    Porto Alegre