<a href="https://colab.research.google.com/github/mllrosa/pandaas/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# ðŸ“˜ Lista de 30 ExercÃ­cios de Pandas â€” Dataset Empresa

# 1. Mostre as 10 primeiras linhas do dataset.
import pandas as pd
df = pd.read_csv('empresa.csv')
df.head(10)

In [ ]:
# 2. Exiba as 15 Ãºltimas linhas do dataset.
import pandas as pd
df = pd.read_csv('empresa.csv')
df.tail(15)

In [ ]:
# 3. Mostre o nome das colunas da tabela.
import pandas as pd
df = pd.read_csv('empresa.csv')
df.columns

In [ ]:
# 4. Exiba informaÃ§Ãµes gerais do dataset (tipos de dados, nÃ£o nulos, etc.).
import pandas as pd
df = pd.read_csv('empresa.csv')
df.info()

In [ ]:
# 5. Mostre estatÃ­sticas descritivas das colunas numÃ©ricas.
import pandas as pd
df = pd.read_csv('empresa.csv')
df.describe()

In [ ]:
# 6. Filtre todas as linhas onde o nome Ã© **"Carlos"**.
import pandas as pd
df = pd.read_csv('empresa.csv')
df[df['nome'] == 'Carlos']

In [ ]:
# 7. Filtre as pessoas que trabalham no setor de **TI**.
import pandas as pd
df = pd.read_csv('empresa.csv')
df[df['setor'] == 'TI']

In [ ]:
# 8. Mostre todos os funcionÃ¡rios com salÃ¡rio maior que 4000.
import pandas as pd
df = pd.read_csv('empresa.csv')
df[df['salario'] > 4000]

In [ ]:
# 9. Mostre apenas as colunas **nome** e **salario**.
import pandas as pd
df = pd.read_csv('empresa.csv')
df[['nome','salario']]

In [ ]:
# 10. Ordene o dataset pelo salÃ¡rio em ordem crescente.
import pandas as pd
df = pd.read_csv('empresa.csv')
df.sort_values('salario')

In [ ]:
# 11. Ordene o dataset pelo salÃ¡rio em ordem decrescente.
import pandas as pd
df = pd.read_csv('empresa.csv')
df.sort_values('salario',ascending=False)

In [ ]:
# 12. Conte quantos funcionÃ¡rios existem por setor.
import pandas as pd
df = pd.read_csv('empresa.csv')
setores = df.groupby('setor').size()
setores

In [ ]:
# 13. Calcule a mÃ©dia salarial de todos os funcionÃ¡rios.
import pandas as pd
df = pd.read_csv('empresa.csv')
df = df['salario'].mean()
df

In [ ]:
# 14. Encontre o maior salÃ¡rio registrado.
import pandas as pd
df = pd.read_csv('empresa.csv')
df['salario'].max()

In [ ]:
# 15. Encontre o menor salÃ¡rio registrado.
import pandas as pd
df = pd.read_csv('empresa.csv')
df['salario'].min()

In [ ]:
# 16. Filtre quem tem mais de 3 anos de empresa.
import pandas as pd
df = pd.read_csv('empresa.csv')
df[df['tempo_empresa_anos'] > 3]

In [ ]:
# 17. Mostre todos os funcionÃ¡rios da cidade de **SÃ£o Paulo**.
import pandas as pd
df = pd.read_csv('empresa.csv')
df[df['cidade'] == 'SÃ£o Paulo']

In [ ]:
# 18. Agrupe por setor e mostre a mÃ©dia dos salÃ¡rios.
import pandas as pd
df = pd.read_csv('empresa.csv')
df = df.groupby('setor')['salario'].mean()
df

In [ ]:
# 19. Mostre os funcionÃ¡rios cujo nome comeÃ§a com a letra **"J"**.
import pandas as pd
df = pd.read_csv('empresa.csv')
j= df[df['nome'].str.startswith('J')]
j

In [ ]:
# 20. Conte quantas vezes cada cidade aparece no dataset.
import pandas as pd
df = pd.read_csv('empresa.csv')
contagem_setores = df.groupby('cidade').size()
contagem_setores

In [ ]:

# 21. Adicione uma nova coluna chamada **"bonus"** com 10% do salÃ¡rio.
import pandas as pd
df['bonus'] = df['salario'] * 0.10
df

In [ ]:
# 22. Mostre apenas funcionÃ¡rios cujo salÃ¡rio seja entre 3500 e 4500.
import pandas as pd
df = pd.read_csv('empresa.csv')
df = df[(df['salario'] >= 3500) & (df['salario'] <= 4500)]
df

In [ ]:
# 23. Remova a coluna **cidade** do dataframe.
import pandas as pd
df = pd.read_csv('empresa.csv')
df = df.drop(columns=['cidade'])
df

In [ ]:
# 24. Verifique se existe algum valor nulo no dataset.
import pandas as pd
df = pd.read_csv('empresa.csv')
df.isnull()

In [ ]:
# 25. Mostre os funcionÃ¡rios com salÃ¡rio igual a 5000.
import pandas as pd
df = pd.read_csv('empresa.csv')
df[df['salario'] == 5000]

In [ ]:
# 26. Crie um dataframe somente com trabalhadores do setor **Marketing**.
import pandas as pd
df = pd.read_csv('empresa.csv')
df[df['setor'] == 'Marketing']

In [ ]:
# 27. Renomeie a coluna **tempo_empresa_anos** para **anos_empresa**.
import pandas as pd
df = pd.read_csv('empresa.csv')
df = df.rename(columns={'tempo_empresa_anos': 'anos_empresa'})
df

In [ ]:
# 28. Mostre o salÃ¡rio mÃ©dio agrupado por cidade.
import pandas as pd
df = pd.read_csv('empresa.csv')
df = df.groupby('cidade')['salario'].mean()
df

In [ ]:
# 29. Selecione aleatoriamente 5 linhas do dataset.
import pandas as pd
df = pd.read_csv('empresa.csv')
df = df.sample(5)
df

In [ ]:
# 30. Crie um filtro para mostrar somente funcionÃ¡rios que nÃ£o sÃ£o do setor de RH.
import pandas as pd
df = pd.read_csv('empresa.csv')
df[df['setor'] != 'RH']